@charset "ISO-8859-1";
body{
	 background:#2F4F4F url('aboutUs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.heading { 	
color:red;
font-family: monospace;
font: bold;
font-size:3rem;
}
.p {


font-family: cursive;
font: bold;
font-size:1.5rem;

}